{% extends "base_index.html" %}

{% block content %}

<h1>Edit Customer</h1>

<div class="shadow p-3 mb-5 bg-body rounded">
    <form class="" method="POST" action="{{ url_for('main.edit_customer', customer_id=customer.id) }}">
        {{ form.csrf_token }}
        {{ form.name.label(class="form-label") }} {{ form.name(class="form-control") }}
        {{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}
        {{ form.phone.label(class="form-label") }} {{ form.phone(class="form-control")}}
        {{ form.address.label(class="form-label") }} {{ form.address(class="form-control") }}
        {{ form.notes.label(class="form-label") }} {{ form.notes(class="form-control") }}
        <input class="btb btn-outline-success"type="submit" value="Save">
    </form>
</div>
{% endblock %}
