<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

   {% block title %} <title>Customer Management System</title>{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('main.index')}}"></a>Serendi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Customers</a>
            <a class="nav-link" href="{{url_for('main.customer_interactions')}}">Interactions</a>
            <a class="nav-link" href="#">Insights</a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
          <form class="container-fluid justify-content-start">
            <a href="{{url_for('main.add_user')}}">
              <button class="btn btn-outline-success me-2" type="button">Sign Up</button>
            </a>
            <a href="{{url_for('main.login')}}">
              <button class="btn btn-sm btn-outline-secondary" type="button">Login</button>
            </a>
            </form>
      </div>
    </nav>
    {% block content %}
    <div class="container mt-5">
      <h1>Customer Management System</h1>
      <p class="lead">Welcome to the customer management system. Use the links below to manage your customers and interactions with them.</p>
      <div class="row mt-5">
        <div class="col-md-6">
          <h2>Customers</h2>
          <ul>
            <li><a href="{{url_for('main.list_customers')}}">View all customers</a></li>
            <li><a href="{{url_for('main.create_customer')}}">Add a new customer</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Interactions</h2>
          <ul>
            <li><a href="#">Add an interaction for a customer</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>



